@media print {
  @page {
    margin-left: 1cm;
    margin-right: 1cm;
    margin-top: 0.35cm;
    margin-bottom: 0.25cm;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Cambria, serif;
  font-size: 16px;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style-type: "- " !important;
}

.small-caps {
  font-variant: small-caps;
}

.sans-serif {
  font-family: "Arial", sans-serif;
}
